<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>My Sinatra App</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <h1>This is in my application layout file<h1>
  <%= yield %>
</body>